/* 预览表格css */
/*标题表格*/
th{
	font-weight:bold;
	font-size:16px;
	font-family:"黑体";
	background-color:#e4e4e4;
}
td{
	font-size:15px;
	font-family:"宋体 ";
}
h2{
	margin-left: 20%;
}
.num{
	margin-left: 56%;
}
.left{
	margin-left: 10px;
}
.omit{
	/*自动省略号*/
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.logo{
	width:120px;
}
.title{
	height:100px;
	width:750px;
	border-collapse: collapse;
	border-top:0px #333333 solid;
	border-left:0px #333333 solid;
}
.title tr:first-child td:nth-child(1){
	width:1%;
	border-right:0px #333333 solid;	
	border-bottom:0px #333333 solid;
}
.title tr:nth-child(2){
    font-size: 15px;
}
.title tr:nth-child(2) td:nth-child(2){
	width:12.2%;
}
.title tr:nth-child(2) td:nth-child(3){
	width:21.5%;
}
.title tr:nth-child(2) td{
	border-right:0px #333333 solid;

}
/*基础信息表格*/
.basic{
	table-layout: fixed;
	width:750px;
	border-collapse: collapse;
	border-left:1px #333333 solid;
	border-bottom:1px #333333 solid;
}
.basic th{
	width:12.3%;
	border-left:1px #333333 solid;	
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
}
.basic tr:nth-child(n+1):nth-child(-n+3) td:nth-child(n+1):nth-child(-n+4){
	height:25px;
	width:18%;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	text-align:center;
}
.basic tr:nth-child(n+1):nth-child(-n+3) td:nth-child(6){
	height:25px;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	text-align:center;
}
.basic tr:nth-child(n+4):nth-child(-n+6) {
	height:40px;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
}

/**/
.top{
	margin-top:10px;
	width:750px;
	border-collapse: collapse;
	border-left:1px #333333 solid;
}
.top th{
	width:12.3%;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
}
.top tr:nth-child(n+1):nth-child(-n+2) td:nth-child(n+1):nth-child(-n+4){
	width:18%;
	height:25px;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	text-align:center;
}
.top tr:nth-child(n+1):nth-child(-n+2) td:nth-child(6){
	height:25px;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	text-align:center;
}
.top tr:nth-child(3) td{
	height:40px;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
}

/*表格主体*/
.body{
	width:750px;
	border-collapse: collapse;
	border-left:1px #333333 solid;
}
.body_title{
	font-weight:bold;
	height:30px;
	text-align:center;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
}
.body_th_rs {
	width:11.12% !important;
}
.body th{
	width:10%;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	height:30px;
}
.body tr:nth-child(n+2):nth-child(-n+5) td{
	text-align:center;
	height:25px;
	border-top:1px #333333 solid;
	border-right:1px #333333 solid;	
}
.body tr:nth-child(6) td{
	text-align:center;
	height:25px;
	border-top:1px #333333 solid;
	border-right:1px #333333 solid;	
}
.body tr:nth-child(n+9):nth-child(-n+16) td{
	text-align:center;
	height:25px;
	border-top:1px #333333 solid;
	border-right:1px #333333 solid;	
}
.item{
	text-align:center;
	height:25px;
	border-top:1px #333333 solid;
	border-right:1px #333333 solid;	
}
.sum{
	text-align:center;
	height:25px;
	border-top:1px #333333 solid;
	border-right:1px #333333 solid;	
}

/**/
.foot{
	width:750px;
	border-collapse: collapse;
	border-left:1px #333333 solid;
}
.foot th{
	width:12.32%;
	border-right:1px #333333 solid;	
	border-top:1px #333333 solid;
	border-bottom:1px #333333 solid;
	height:35px;
}
.foot tr td{
	text-align:center;
	width:21.15%;
	border-top:1px #333333 solid;
	border-bottom:1px #333333 solid;
	border-right:1px #333333 solid;
}


